$color_dgreen : #028163;
$color_orange : #e4834e;
$color_lgreen: #07CA9A;
$color_gray: #9A9A9A;
$color_gray2: #999;
$hover : #222;
$color_dblue : #222f3b;

@font-face{
	font-family: 'OpenSans Regular';
	src: url('OpenSans-Regular.ttf');
}

@mixin end{
	&:after{
		content:'';
		display: block;
		clear:both;
	}
}


@mixin f-reg{
	font-family: "Arial Regular", Arial, sans-serif;
}

@mixin f-bold{
	font-family: "Arial Bold", Arial, sans-serif;
}

@mixin f-black{
	font-family: "Arial Black", Arial, sans-serif;
}

@mixin f-n{
	font-family: "Arial Narrow", Arial, sans-serif;
}

@mixin o-reg{
	font-family: "OpenSans Regular", Arial, sans-serif;
}

body{
	background: #E8EAEB;
}

main{
	max-width: 1200px;
	margin: 30px auto 50px auto;
	@include end;
	section.result{
		max-width: 885px;
		float: left;
		aside{
			@include end;
			background: #fff;
			margin: 0 0 10px 0;
			h2{
				font-family: "Arial Regular", Arial, sans-serif;
				font-size: 18px;
				color: $color_dblue;
				margin: 0;
				padding: 0;
				span.switch-up{
					width: 17px; height: 15px;
					display: inline-block;
					background: url('../img/up.png');
					margin-right: 10px;
					cursor: pointer;
				}
				span.switch-down{
					width: 17px; height: 15px;
					display: inline-block;
					background: url('../img/down.png');
					margin-right: 10px;
					cursor: pointer;
				}
			}
			div.avatar{
				height: 100%;
				float: left;
				width: 215px;
				div.img{
					width: 185px;
					height: 185px;
					margin: 45px auto 25px auto;
					border: 1px #E6E6E6 solid;
					border-radius: 50%;
					img{
						width: 185px;
					}
				}
				div.rzone{
					font-family: "Open Sans Regular", "Arial Narrow", sans-serif;
					font-size: 14px;
					display: block;
					width: 170px;
					height: 30px;
					border: 1px #666 solid;
					color: #666;
					margin: 0 auto;
					line-height: 1.5;
					position: relative;
					padding: 4px 19px;
				}
			}
			div.info{
				float: left;
				padding: 25px 10px 28px 0;
				max-width: 670px;
				position: relative;
				h2{
					font-size: 24px;
					@include f-reg;
					color: $color_dblue;
					span{
						display: inline-block;
						width: 12px;
						height: 12px;
						border: 1px $color_dgreen solid;
						border-radius: 50%;
						margin-right: 10px;
						margin-bottom: 2px;
					}
					span.active{
						background: #07CA9A;
					}
				}
				p{
					color: #333333;
					font-size: 16px;
					strong{
						font-size: 18px;
						font-weight: normal;
						color: #666;
					}
				}
				a, a:visited{
					text-decoration: none;
				}
				a.favorites{
					position: absolute;
					right: 30%;
					top: 40px;
					display: block;
					width: 100px;
					height: 20px;
					border: 1px $color_orange solid;
					font-size: 13px;
					color: $color_orange;
					padding: 1px;
					span{
						display: inline-block;
						width: 14px;
						height: 12px;
						background: url('../img/heart.png');
					}
					&:hover{
						background: #eee;
					}
				}
				div.price{
					font-size: 24px;
					position: absolute;
					top: 25px;
					right: 22px;
					@include f-reg;
					small{
						@include f-n;
						color: #9A9A9A;
						font-size: 20px;
					}
				}
				div.stars{
					position: absolute;
					width: 123px;
					height: 20px;
					top: 60px;
					right: 20px;
					span{
						display: inline-block;
						width: 22px;
						height: 21px;
					}
					span.star1{
						background: url('../img/star1.png');
					}
					span.star0{
						background: url('../img/star0.png');
					}
				}
				a.sh, a.message, a.lesson{
					@include o-reg;
					display: inline-block;
					width: 170px;
					height: 30px;
					color: #fff;
					font-size: 14px;
					text-align: center;
					margin-right: 15px;
					text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.34);
					padding: 5px;
					float: right;
				}
				a.sh{
					background: $color_lgreen;
					&:hover{
						background: $color_lgreen+$hover;
					}
				}
				a.message{
					background: $color_orange;
					&:hover{
						background: $color_orange+$hover;
					}
				}
				a.lesson{
					background: $color_dgreen;
					&:hover{
						background: $color_dgreen+$hover;
					}
				}
			}
		}
		aside.sh{
			padding: 15px 15px 40px 15px;
			header{
				@include end;
				margin: 0 0 5px 0;
				h2, div.tzone{
					float: left;
				}
				h2{
					width: 45%;
				}
				div.pagg{
					float: right;
					font-family: "Open Sans Regular", "Arial Narrow", sans-serif;
					font-size: 14px;
					color: #666;
					a, a:visited{
						text-decoration: none;
					}
				}
				div.tzone{
					font-family: "Open Sans Regular", "Arial Narrow", sans-serif;
					font-size: 14px;
					display: block;
					width: 170px;
					height: 30px;
					border: 1px #666 solid;
					color: #666;
					margin: 0 auto;
					line-height: 1.5;
					position: relative;
					padding: 4px 19px;
				}
			}
			table{
				width: 100%;
				thead{
					tr{
						th{
							font-family: "Arial Narrow", sans-serif;
							font-size: 14px;
							color: $color_dblue;
							text-align: left;
							width: 110px;
							height: 18px;
							font-weight: 500;
							&:first-of-type{
								text-align: center;
								width: 85px;
							}
						}
					}
				}
				tbody{
					tr{
						td{
							border: 1px #9C9C9C solid;
							font-family: "Arial Regular", Arial, sans-serif;
							font-size: 14px;
							color: #fff;
							&.free{
								background: #00CC99;
								text-align: center;
								border: 1px #fff solid;
								&:after{
									content: 'Свободен';
								}
							}
							&:first-of-type{
								text-align: center;
								border: none;
								color: #666;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
		aside.video{
			position: relative;
  			padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  			padding-top: 30px;
  			height: 0;
  			overflow: hidden;
			iframe{
				border: none;
				width: 885px;
				height: 490px;
				position: absolute;
  				top: 0;
  				left: 0;
  				width: 100%;
  				height: 100%;
			}
		}
		aside.exp, aside.docs, aside.feeds{
			padding: 20px 15px 15px 15px;
			h2{
				margin-bottom: 10px;
			}
		}
		aside.docs{
			img{
				width: 285px;
				margin-right: 15px;
			}
		}
		aside.exp{
			p{
				@include f-n;
				font-size: 16px;
				color: #333;
				strong{
					font-size: 18px;
					color: #666;
					font-weight: 500;
				}
			}
		}
		aside.feeds{
			div.feed{
				position: relative;
				h3{
					@include f-reg;
					font-size: 16px;
					color: $color_dblue;
				}
				p{
					@include f-n;
					color: #666;
					font-size: 16px;
				}
				div.stars{
					position: absolute;
					width: 123px;
					height: 20px;
					top: 0px;
					right: 0px;
					span{
						display: inline-block;
						width: 22px;
						height: 21px;
					}
					span.star1{
						background: url('../img/star1.png');
					}
					span.star0{
						background: url('../img/star0.png');
					}
				}
			}
		}
		>a.lesson{
			@include o-reg;
			display: block;
			margin: 30px auto 50px auto;
			width: 170px;
			height: 30px;
			color: #fff;
			font-size: 14px;
			text-align: center;
			text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.34);
			padding: 5px;
			background: $color_dgreen;
			text-decoration: none;
			&:hover{
				background: $color_dgreen+$hover;
				text-decoration: none;
			}
		}
	}
	section.info{
		@include end;
		margin-left: 30px;
		padding: 25px 15px 30px 15px;
		background: #fff;
		float: left;
		max-width: 285px;
		h3{
			@include f-reg;
			text-align: center;
			font-size: 22px;
			color: $color_lgreen;
		}
		ol{
			@include f-reg;
			margin: 0;
			padding-left: 10px;
			color: $color_lgreen;
			font-size: 18px;
			span{
				@include f-n;
				color: $color-gray;
				font-weight: 400;
			}
			li{
				margin-bottom: 15px;
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	main{
		section.result{
			margin: 0 auto;
			float: none;
		}
		section.info{
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	main{
		section.result{
			aside{

				>div.avatar{
					float: none;
					margin: 0 auto;
					padding-top: 5px;
					>img{
						padding-top: 10px;
					}
				}
				>div.info{
					float: none;
					margin: 0 auto;
					padding-left: 10px;
					a.favorites{
						top: 10px;
						left: 50%;
						margin-left: -48px;
					}
				}
			}
			aside.sh{
				header{
					h2, div.tzone, div.pagg{
						float: none;
						margin: 5px auto;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	main{
		section.result{
			aside{
				>div.info{
					div.stars{
						position: static;
						margin: 10px auto;
					}
					a.lesson, a.message, a.sh{
						float: none;
						display: block;
						margin: 5px auto;
					}
				}

			}
			aside.sh{
				table{
					span.hide{
						display: none;
					}
					thead{
						tr{
							text-align: center;
							th{
								text-align: center;
							}
						}
					}
					tbody{
						tr{
							td.free{

								&:after{
									content: 'СВ.';
								}
							}
						}
					}
				}
			}
		}

	}
}
