$color_dgreen : #028163;

@mixin end{
	&:after{
		content:'';
		display: block;
		clear:both;
	}
}

h1, h2, h3{
	color: #434e5b;
	text-align: center;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

h1{
	margin: 50px auto 16px auto;
	font-size: 41px;
	font-weight: 600;
}
h2{
	font-size: 16px;
}
h3{
	font-weight: 600;
	margin: 14px auto;
	font-size: 23px;
}

section.lang{
	max-width: 860px;
	margin: 0 auto;
	@include end;
	a, a:visited{
		margin-bottom: 30px;
		float: left;
		padding: 30px 40px;
		width: 413px; height: 102px;
		border-radius: 10px;
		display: block;
		font-weight: 600;
		color: #fff;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		@include end;
		box-shadow: 0 6px 6px rgba(28,22,22,.43);
		span{
			width: 57px; height: 36px;
			display: inline-block;
			float: left;
			margin-top: 4px;
			margin-right: 20px;
		}
	}
	a:hover{
		text-decoration: none;
		color: #aaa;
	}
	a.eng{
		background-image: linear-gradient(0deg, rgb(193, 23, 29) 0px, rgb(237, 28, 36) 100%);
		margin-right: 30px;
		span{
			background: url('../img/eng.png');
		}
	}
	a.det{
		margin-right: 30px;
		background: linear-gradient(0deg,#1e2832 0,#384f66 100%);
		span{
			background: url('../img/german.png');
		}
	}
	a.ita{
		margin-right: 30px;
		background: linear-gradient(0deg,#009a67 0,#00db92 100%);
		span{
			background: url('../img/italy.png');
		}
	}
	a.fra{
		background: linear-gradient(0deg,#083263 0,#0d509e 100%);
		span{
			background: url('../img/french.png');
		}
	}
	a.isp{
		background: linear-gradient(0deg,#905b18 0,#ffa531 100%);
		span{
			background: url('../img/spanish.png');
		}
	}
	a.rus{
		background: linear-gradient(0deg,#333 0,#696969 100%);
		span{
			background: url('../img/russian.png');
		}
	}

}


@media screen and (max-width: 880px) {
	section.lang{
		max-width: 415px;
		a.eng, a.det, a.ita{
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 416px) {
	section.lang{
		max-width: 300px;
		a{
			max-width: 300px;
			padding: 30px 10px;
			font-size: 2.2em;
			span{
				margin-right: 10px;
			}
		}
		a.eng, a.det, a.ita{

			margin-right: 0;
		}
	}
}
