$color_dgreen : #028163;
$color_green : #05a983;
$color_orange : #e4834e;
$color_dblue : #12232F;
$color_grey : #9A9A9A;
$hover : #222;

@mixin end{
	&:after{
		content:'';
		display: block;
		clear:both;
	}
}

@font-face{
	font-family: 'Arial Narrow';
	src: url('ARIALN.TTF');
}

@font-face{
	font-family: 'Arial Regular';
	src: url('ArialRegular.ttf');
}

@font-face{
	font-family: 'Arial Bold';
	src: url('ArialBold.ttf');
}

@font-face{
	font-family: 'Arial Black';
	src: url('ArialBlack.ttf');
}

body{
    font-family: 'Arial Narrow', sans-serif;
	overflow-x: hidden;
}

div.main-header{
    height: 140px;
    color: #fff;
    background: #fff;
    >div{
        max-width: 965px;
        height: inherit;
        margin: 0 auto;
        text-align: center;
        img{
            margin-top: 10px;
        }
        a{
            font-family: 'Arial Regular', sans-serif;
            padding: 5px 0;
            margin: 53px 0 0 0;
            text-align: center;
            width: 170px;
            height: 33px;
            display: block;
            color: #fff;
            text-decoration: none;
        }
        a:first-child{
            background: $color_dgreen;
            border: 1px $color_dgreen solid;
            &:hover{
                background: $color_dgreen+$hover;
            }
        }
        a:last-child{
            background: $color_orange;
            border: 1px $color_orange solid;
            &:hover{
                background: $color_orange + $hover;
            }
        }
    }
}

.navbar-inverse{
    background-color: #222f3b;
    border-radius: 0;
}

.navbar{
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav{
	background-color: #222f3b;
    margin: 0 auto;
    float: none;
    max-width: 1045px;
    li{
        position: relative;
        >a{
            font-size: 18px;
            color: #fff;
            font-family: 'Arial Narrow', Arial;
            padding-left: 28px;
        }
        >span.icon{
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_01.png');
        }
    }
    li:hover{
        >a{
            color: $color_green;
        }
        >span.icon{
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_on_01.png');
        }
    }
    li.active{
        >a{
            z-index: 1;
            background-color: inherit;
            color: $color_orange;
        }
        >span.icon{
            z-index: 2;
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_01.png');
        }
    }
    li.active:hover{
        >a{
            background-color: inherit;
            color: $color_green;
            z-index: 1;
        }
        >span.icon{
            z-index: 2;
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_on_01.png');
        }
    }
}

nav.main-menu{
	background-color: #222f3b;
    margin: 0 auto;
    float: none;
	min-height: 50px;
	div.but{
		display: none;
	}
	ul{
		max-width: 1030px;
		margin: 0 auto;
	}
    li{
        position: relative;
		display: block;
		float: left;
		margin: 0 10px 0 0;
        >a{
			text-decoration: none;
            font-size: 18px;
            color: #fff;
            font-family: 'Arial Narrow', Arial;
            padding-left: 28px;
			line-height: 50px;
        }
        >span.icon{
            position: absolute;
            top: 18px;
			left: 10px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_01.png');
        }
    }
    li:hover{
        >a{
            color: $color_green;
        }
        >span.icon{
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_on_01.png');
        }
    }
    li.active{
        >a{
            z-index: 1;
            background-color: inherit;
            color: $color_orange;
        }
        >span.icon{
            z-index: 2;
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_01.png');
        }
    }
    li.active:hover{
        >a{
            background-color: inherit;
            color: $color_green;
            z-index: 1;
        }
        >span.icon{
            z-index: 2;
            position: absolute;
            top: 18px;
            width: 13px;
            height: 13px;
            display: inline-block;
            background-image: url('../img/lend_on_01.png');
        }
    }
}

footer{
    background-color: $color_dblue;
    color: #fff;
    font-size: 16px;
    line-height: 1.714;
    div.row{
        padding-top: 10px;
    }
    div.row:first-of-type{
        padding-top: 20px;
    }
    div.col-md-2{
        padding-left: 0;
    }
    a, a:visited{
        color: #fff;
        text-decoration: none;
    }
    a:hover, a:active{
        color: $color_green;
        text-decoration: none;
    }
    div.mess{
        img{
            padding: 5px;
        }
    }
    div.big{
        font-size: 18px;
    }
    div.small{
        span{
            color: $color_green;
            font-size: 24px;
        }
        a{
            color: $color_grey;
            line-height: 4;
        }
        a:hover{
            color: $color_green;
        }
    }
    div.f-end{
        color: $color_grey;
        padding-bottom: 15px;
        padding-top: 0;
    }

}

@media (max-width: 1080px){
	nav.main-menu{
		div.list{
			display: none;
			ul{
				li{
					float: none;
					width: 150px;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
		div.but{
			display: block;
			@include end;
			button{
				display: block;
				float: right;
				margin: 10px 20px 0 0;
				background: transparent;
				border: none;
				span{
					display: block;
					width: 22px;
					height: 2px;
					background: #fff;
					border-radius: 1px;
					margin-top: 5px;
				}
			}
		}
	}
}

@media (max-width: 1080px){
    .navbar-collapse.collapse {
        display: none  !important;
    }
    .navbar-toggle {
        display: block;
        float: right;
        margin-right: 0;
    }
    .navbar-header {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
  div.row{
    margin: 0;
    padding-left: 15px;
  }
}

@media screen and (max-width: 785px) {
    div.main-header{
        height: 190px;
        div{
            position: relative;
            a{
                margin: 0;
                position: absolute;
                top: 150px;
            }
            a:last-child{
                right:0;
            }
        }
    }
  footer{
    div.small{

      span{
        display: none;
      }
      a{
          line-height: 2;
      }
    }
    div.col-sx-12{
      width: 210px;
      float: none;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 340px) {
    div.main-header{
        div{
            a{
                width: auto;
                padding: 5px 10px;
            }
            a:last-child{

            }
        }
    }
}
