section.one {
  padding: 25px 10px 40px 10px;
  background: url("../img/fon2.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center; }
  section.one h1 {
    font-family: "Arial Bold", Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    max-width: 1170px; }
  section.one h2 {
    font-family: "Arial Regular", Arial, sans-serif;
    margin: 10px auto 0 auto;
    font-size: 22px;
    line-height: 1.636;
    text-align: center;
    max-width: 1170px; }

section.reg {
  padding: 35px 10px 30px; }
  section.reg form {
    max-width: 777px;
    margin: 0 auto; }
    section.reg form input[type="text"], section.reg form input[type="password"] {
      font-family: "Arial Regular", Arial, sans-serif;
      height: 35px;
      width: 270px;
      font-size: 16px;
      padding-left: 8px;
      border: 1px #9A9A9A solid; }
    section.reg form input[type="password"] {
      margin: 0 30px; }
    section.reg form input[type="submit"] {
      font-family: "Arial Regular", Arial, sans-serif;
      font-size: 16px;
      width: 170px;
      height: 30px;
      background: #e4834e;
      color: #fff;
      border: none; }
      section.reg form input[type="submit"]:hover {
        background: #ffa570; }

section.up {
  background-color: #00CC99;
  box-shadow: 0 5px 10px #777; }

section.work {
  padding: 0 10px 35px 10px; }
  section.work h2 {
    font-family: "Arial Bold", Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #008261;
    margin: 30px auto 40px auto;
    text-transform: uppercase; }
  section.work > h3 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 auto; }
    section.work > h3:first-of-type {
      margin: 5px auto 35px auto; }
    section.work > h3:last-of-type {
      margin: 35px auto 25px auto; }
  section.work ul {
    max-width: 1150px;
    margin: 0 auto 0 auto; }
    section.work ul li {
      font-family: "Arial Regular", Arial, sans-serif;
      position: relative;
      list-style: none;
      font-size: 22px;
      color: #313945; }
      section.work ul li:before {
        position: absolute;
        left: -20px;
        top: 10px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #00CB9A;
        border-radius: 50%; }

section.stream {
  background: #005842;
  box-shadow: 0 5px 10px #777;
  padding: 10px; }
  section.stream h2 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-family: "Arial Regular", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400; }

section.start {
  box-shadow: inset 0 5px 10px #777;
  background-color: #E8E8E8;
  padding: 20px 10px 20px 10px; }
  section.start h2 {
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    color: #008465;
    margin: 0; }
  section.start h3 {
    text-align: center;
    font-size: 24px;
    color: #00475d;
    margin-top: 0;
    color: #004B62; }
  section.start aside {
    max-width: 850px;
    margin: 0 auto; }
    section.start aside:after {
      content: '';
      display: block;
      clear: both; }
    section.start aside div {
      float: left;
      text-align: center; }
    section.start aside div.step {
      width: 238px; }
      section.start aside div.step img {
        height: 48px; }
      section.start aside div.step h4 {
        font-family: "Arial Regular", Arial, sans-serif;
        font-size: 18px;
        color: #263F5D; }
      section.start aside div.step p {
        font-family: "Arial Regular", Arial, sans-serif;
        font-size: 14px;
        color: #666666;
        line-height: 1.2; }
    section.start aside div.arrow {
      width: 65px; }
      section.start aside div.arrow img {
        margin-top: 18px; }

section.popular {
  background: #07CA9A;
  box-shadow: 0 5px 10px #777;
  padding: 10px;
  text-transform: uppercase; }
  section.popular h2 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 500;
    font-size: 30px; }

section.instruction {
  padding: 40px 10px 10px 10px;
  margin: 0 auto;
  max-width: 1170px;
  font-family: "Arial Regular", Arial, sans-serif; }
  section.instruction:after {
    content: '';
    display: block;
    clear: both; }
  section.instruction h2 {
    color: #028163;
    text-align: center;
    font-family: "Arial Bold", Arial, sans-serif;
    font-size: 30px;
    margin: 0 0 25px 0; }
  section.instruction aside {
    float: left;
    width: 50%; }
    section.instruction aside div {
      padding: 0 15px 15px 15px; }
      section.instruction aside div h3 {
        font-size: 18px;
        margin: 0 0 10px 0;
        padding: 0;
        color: #3B4E68; }
      section.instruction aside div p {
        font-size: 14px;
        color: #666;
        padding: 0;
        margin: 0; }

section.more {
  padding: 0 10px 40px 10px; }
  section.more h2 {
    text-align: center;
    font-family: "Arial Regular", Arial, sans-serif;
    color: #00475d;
    font-size: 22px;
    margin: 0; }
    section.more h2 a {
      color: #72c99b;
      text-decoration: underline; }
      section.more h2 a:hover {
        color: #94ebbd; }

section.berep {
  background: #005842;
  box-shadow: 0 5px 10px #777;
  padding: 10px; }
  section.berep h2 {
    color: #fff;
    margin: 0 auto;
    font-family: "Arial Bold", Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500px; }

section.down {
  box-shadow: inset 0 5px 10px #777;
  background: #E8E8E8;
  padding: 45px 10px 50px 10px; }
  section.down h2 {
    color: #028163;
    text-align: center;
    font-family: "Arial Bold", Arial, sans-serif;
    font-size: 30px;
    margin: 0 0 15px 0;
    text-transform: uppercase; }
  section.down h3 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    margin: 0 0 30px 0;
    text-align: center;
    color: #00455D; }

@media screen and (max-width: 890px) {
  section.start aside {
    max-width: 715px; }
    section.start aside div.arrow {
      display: none; } }
@media screen and (max-width: 840px) {
  section.reg form {
    max-width: 777px;
    margin: 0 auto; }
    section.reg form input[type="text"], section.reg form input[type="password"], section.reg form input[type="submit"] {
      margin: 10px auto;
      display: block;
      width: 270px; } }
@media screen and (max-width: 760px) {
  section.start aside {
    max-width: 225px; }
    section.start aside div.step {
      float: none;
      margin-top: 20px; }

  section.instruction aside {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=repreg.css.map */
